<div class="footer-container wide">
    <footer id="footer">
        <div class="f-details">
            <div class="container">
                <div class="row">
                    <!-- MODULE Block footer -->
                    <div class="col-sm-6 col-md-3">
                        <div class="blocks">
                            <h2>Mais Buscados</h2>
                            <span class="line">&nbsp;</span>
                            <ul>
                                <li class="first_item">
                                    <a title="Calça Skinny" href="http://hello-there.biz/prestashop/bonita/en/prices-drop">Calça Skinny
                                    </a>
                                </li>
                                <li class="item">
                                    <a title="Cavallera" href="http://hello-there.biz/prestashop/bonita/en/new-products">Cavallera
                                    </a>
                                </li>
                                <li class="item">
                                    <a title="Oakley" href="http://hello-there.biz/prestashop/bonita/en/best-sales">Oakley
                                    </a>
                                </li>
                                <li class="item">
                                    <a title="Lacoste" href="http://hello-there.biz/prestashop/bonita/en/stores">Lacoste
                                    </a>
                                </li>
                                <li class="item">
                                    <a title="Pandora" href="http://hello-there.biz/prestashop/bonita/en/contact-us">Pandora
                                    </a>
                                </li>
                                <li class="item">
                                    <a title="Jaqueta de Couro" href="http://hello-there.biz/prestashop/bonita/en/content/3-terms-and-conditions-of-use">Jaqueta de Couro
                                    </a>
                                </li>
                                <li class="item">
                                    <a title="Copa Do Mundo" href="http://hello-there.biz/prestashop/bonita/en/content/4-about-us">Copa Do Mundo
                                    </a>
                                </li>
                                <li>
                                    <a title="Meias Soquete" href="http://hello-there.biz/prestashop/bonita/en/sitemap">Meias Soquete
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <!-- /MODULE Block footer -->

                    <!-- Block myaccount module -->
                    <div class="col-sm-6 col-md-3">
                        <div class="blocks">
                            <h2>Lojas Em Destaque</h2>
                            <span class="line">&nbsp;</span>
                            <ul>
                                <li><a href="index.php?controller=manufacturer">Youppie</a></li>
                                <li><a href="index.php?controller=prices-drop">Armani</a></li>
                                <li><a href="index.php?controller=new-products">Rusttles</a></li>
                                <li><a href="index.php?controller=best-sales">Vip X - Boqueirão</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="blocks">
                            <h2>Acesso Rápido</h2>
                            <span class="line">&nbsp;</span>
                            <ul class="bullet">
                                <li><a rel="nofollow" title="My orders" href="http://hello-there.biz/prestashop/bonita/en/order-history">Roupas para Bebê</a></li>
                                <li><a rel="nofollow" title="My credit slips" href="http://hello-there.biz/prestashop/bonita/en/order-slip">Vestidos de Noiva</a></li>
                                <li><a rel="nofollow" title="My addresses" href="http://hello-there.biz/prestashop/bonita/en/addresses">Moda Fitness</a></li>
                                <li><a rel="nofollow" title="My addresses" href="http://hello-there.biz/prestashop/bonita/en/addresses">O mundo é jeans</a></li>
                                <li><a rel="nofollow" title="My addresses" href="http://hello-there.biz/prestashop/bonita/en/addresses">Só mais um sapato!</a></li>
                                <li><a rel="nofollow" title="My addresses" href="http://hello-there.biz/prestashop/bonita/en/addresses">Bolsas, bolsas e mais bolsas</a></li>
                                <li><a rel="nofollow" title="Manage my personal information" href="http://hello-there.biz/prestashop/bonita/en/identity">Destaques Moda Outono-Inverno</a></li>

                            </ul>
                        </div>
                    </div>
                    <!-- /Block myaccount module -->
                    <!-- Block Newsletter module-->
                    <div class="col-sm-6 col-md-3">
                        <div class="blocks last">
                            
                        </div>
                    </div>
                    <!-- /Block Newsletter module-->

                </div>
                <div class="clear">&nbsp;</div>
            </div>
        </div>

    </footer>
</div>
