<div class="header-container">

    @*    <div class="form-group has-feedback col-lg-4">

        <input id="inputSuccess4" class="form-control" type="text" />
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>*@

    @*    <div class="store-search">
        <div class="form-search">
            <div class="search-box">
                <form method="get" action="http://hello-there.biz/prestashop/bonita/en/search" id="searchbox">
                    <label for="search_query_top"></label>
                    <input type="hidden" value="search" name="controller">
                    <input type="hidden" value="position" name="orderby">
                    <input type="hidden" value="desc" name="orderway">
                    <input type="text" value="" name="search_query" id="search_query_top" class="search_query input-text ac_input search-principal" autocomplete="off">
                    <button class="btn button" name="submit_search" title="Search" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    *@
    <div class="search-principal">
        <div class="well teste">
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="O que você procura?">
                        <span class="input-group-btn">
                            <button class="btn btn-red" type="button"><i class="icon-search"></i></button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
    </div>
</div>
