@model List<OndeComprar.MVC.Areas.Gerencial.Models.ImagemViewModel>

@foreach(var imagem in Model)
{
    <div class="col-sm-4 gallery-image">
        <img src="@imagem.CompletePath" alt="image">
        <div class="gallery-image-options text-center">
            <div class="btn-group btn-group-sm">
                <a href="@imagem.CompletePath" class="gallery-link btn btn-sm btn-alt btn-default" title="Imagens de Desatque">Vizualizar</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default" data-toggle="tooltip" title="Excluir" onclick="teste('@imagem.Nome', '1')"><i class="fa fa-times"></i></a>
            </div>
        </div>
    </div>
}