@model OndeComprar.MVC.Models.EmpresaViewModel

@{
    Layout = "../Shared/_LayoutGerencial.cshtml";
}

@section header
{
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="gi gi-notes_2"></i>Estatísticas<br>
                <small>Gráficos que ajudam a tomar decisões.</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Empresa</li>
        <li><a href="">Estatísticas</a></li>
    </ul>
}

1 - Palavras quentes: Ajuda você a verificar suas palavras chave muito buscadas e aquelas que ninguém procura;