@model dynamic

@{
    Layout = "../Shared/_LayoutAdmin.cshtml";
}

@section header
{
    <div class="content-header content-header-media">
        <div class="header-section">
            <div class="row">
                <!-- Main Title (hidden on small devices for the statistics to fit) -->
                <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
                    <h1>Página Inicial<br><small>Seja bem vindo!</small></h1>
                </div>
                <!-- END Main Title -->

                          
            </div>
        </div>
        <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
                        
    </div>
}

@section scripts
{
    <script>
        $("#pesquisateste").click(function() {
            $.ajax({
                type: "POST",
                url: "http://localhost:54481/api/Favorito2T/PostFavoritoAvisarInicio",
                data: $("#postTeste").serialize(),
                success: function (json) {
                    alert(json);
                },
                error: function () {
                    alert("erro!");
                }
            });

        });
    </script>

}

<form id="postTeste" method="POST" >
    <p>Dispositivo ID</p><input type="text" name="DispositivoId" id="DispositivoId"><br>
    <p>Id item</p><input type="text" name="ItemId" id="ItemId"><br>
    <p>Assinatura</p><input type="text" name="Sig" id="Sig"><br>
    <p>Salt</p><input type="text" name="Salt" id="Salt"><br>
    <input type="hidden" name="AvisarInicio" value="false" ><br>
    <input type="button" id="pesquisateste" value="AVISAR">
</form>